header {
  background-color:rgba(232,232,232,1);
  width: 100%;
  height: 80px;
	display: none;
  justify-content: space-around;
	align-items: center;
}
.show{
  display: flex;
}
/* el botón check asociado al input */
#check-menu {
  display: none;
}
header > img {
  padding-left: 20px;
	width: 150px;
}
/* el botón que despliega el menú */
header > label {
	cursor: pointer;
	display: none;
}
.nav-menu > ul {
  display: flex;
  justify-content: flex-end;
  margin:0;
  padding: 0;
  list-style: none;       
}

.nav-menu > ul > li > a {
  display: block;
  padding: 15px;
  color: #007cba;
  text-decoration: none;
}

.nav-menu > ul > li > a:hover {
  color: #f7971c;
}

@media screen and (max-width: 700px)  {
	header > label {
		display: block;
	}
	.nav-menu {
		position: absolute;
		margin-top:200px;
		background-color: rgba(33,96,150,1);
		width: 100%;
		transition: all 0.5s;
		transform: translateX(-100%);
	}
  .nav-menu > ul {
    flex-direction: column;  
  }

  .nav-menu > ul > li > a {
		padding: 10px;
    border: none;
    color:#ffff;
  }

  .nav-menu > ul > li {
    border-top: 1px solid #fff;
	}
	#check-menu:checked ~ nav {
		transform: translate(0%);
	}
}