
#view-perfil{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F1F4FF;
}
.portada{
	width: 100%;
  display: flex;
  flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-bottom: 10px;
	background-color: #ffffff;
}
#contendor-imagen{
	width: 80%;
    display: flex;
    justify-content: center;
	align-items: center;
}
#portada-mensaje{
    width: 100%;
    min-width: 400px;
    min-height: 220px;
    max-height: 240px;
}
#photo-viewprofile {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: relative;
	margin-top: -70px;
}
#new-photo,#selectphoto{
	font-size: x-large;
	position: absolute;
	top:355px;
	left: 53%;
	background-color:lightgray;
	padding: 5px;
	border-radius: 50%;
}

/*
.formulario-actualizacion{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:600px){

}*/