
@import './login.css';
@import './perfil.css';
@import url(./menu.css);
@import url(./timelinemod.css);
@import url(./register.css);

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    background: rgb(255,255,255);
    color:#007cba;
}
#container{
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}
.hide{
  display: none;
}