@import 'login.css';
@import 'perfil.css';
@import url(menu.css);
@import url(timelinemod.css);
@import url(register.css);

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 53%, rgba(227,223,223,1) 72%, rgba(208,206,206,1) 100%);
    color:#007cba;
}

main {
    display: flex;
    flex-direction: column;
}
.hide{
  display: none;
}