
@import './login.css';
@import './perfil.css';
@import url(./menu.css);
@import url(./timelinemod.css);
@import url(./register.css);

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    background: rgb(255,255,255);
    color:#007cba;
}
#container{
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}
.hide{
  display: none;
}
#contenedor_carga {
    background-color: rgb(250, 240, 245, 0.9);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    transition: all 1s ease;
}
#carga {
    border: 15px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}