#timelineView{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "profile posts posts";
}
#profile{
    background-color: #FEF3E3;
    border: solid #f7971c;
    border-radius: 8px;
    padding: 20px;
    grid-area: profile;
}
#profile > img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}